.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #1d1e22;
}

